body,html{

margin:0;
width:100% !important;
background-color:#96B1E9;
}
div.container-fluid.index-container{
	max-width:100%;
	margin:0 !important;
	padding:0 !important;
}
div.header img {
	z-index:0;
	height:750px;
	width:100%;
}
div.col-12{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	margin:0;
	width:100%;
	padding:0;
}
div.link-line{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	height:75px;
	background:#364AA7;	
	width:100%;
	
}
.row{
	margin-right:0 !important;
	margin-left:0 !important;
}
div.testimonial{
	display:flex;
	justify-content:center;
}
img.dest{
	height:300px;
	margin-top:25px;
	margin-bottom:40px;	
}
img.test{
	margin-top:50px;
	height: 500px;
}
div.row#testimonials{
	margin-top:50px;
}
p{
	text-align:center;
	color:#FFF;
	max-width:450px;
	margin-bottom:40px;
	font-size:22px;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
}

@media screen and (max-width: 600px) {
	div.container{
  	width: 100%;
  	display: flex;
  	justify-content:center;
  	flex-wrap: wrap;
	flex-direction:column;
	}
	div.col-12.link-line a{
	display:flex;
	flex-direction:column;
	font-size:14px;
	max-width:100%;
	height:75px;
	}
	div.row.right{
	flex-direction: column-reverse !important;
	}

}
