
img.packages-header{
	height:500px;
	width:100%;
}

ul li{
	list-style:none;	
}
/* ------------------ */

/* keeps navbar above page */
div.row.vacation-row{
	
}
/* ------------------ */

/* makes image all same size when shrinking screen */
img.vacation-image{	
    height:250px;
    width:100%;
}
/* ------------------ */

/* item card styles */
div.col-sm-6.col-md-4.col-lg-3{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	max-height:auto;
	max-width:auto;
	margin:2vh 2vw;
    border:1px solid black;
	padding:0;
	background-color:#7c52f2;
	-webkit-box-shadow: 10px 10px 5px -5px rgba(41,41,41,0.67);
	-moz-box-shadow: 10px 10px 5px -5px rgba(41,41,41,0.67);
	box-shadow: 10px 10px 5px -5px rgba(41,41,41,0.67);
}
/* ------------------ */

/* text styles */
.text{   
	margin-top:1vh;
    margin-bottom:1vh;
    left: 0;
    right: 0;
    top: -10%; /* Adjust this value to move the positioned div up and down */     
	color:#fff;	
	text-shadow: 1px 2px #000;
	font-family:"Roboto"; sans-serif;
	font-size: 20px;
	font-weight:400;
	letter-spacing:1px;
	
    }
.vacation-price.text{
	font-size:24px;
	text-shadow:2px 2px black;
}
.vacation-header.text{
	text-align:center;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align:center;
	font-family:"Nunito"; sans-serif;
	font-wight:700;
	font-size:26px;
	text-shadow: 2px 2px #000;
	margin:auto;
	margin-bottom:5px;
}

div.vacation-desc.text{
	margin:auto;
	font-size:20px;
	text-shadow: 2px 1px #000;
	text-align:center;
	margin:5px;

}
/* ------------------ */

/* cart icon hover effect */
div.col-sm-6.col-md-4.col-lg-3 i{
	color:#56CCF2;
	text-shadow:2px 2px black;
	outline:none;
	border:none;	
	

}
div.col-sm-6.col-md-4.col-lg-3 i:hover{
	
	top:1px;
	outline:none;
	text-decoration:none;
	color:#3BEF15;
	text-shadow:1px 1px #000;
	position:relative;
}
div.col-sm-6.col-md-4.col-lg-3 i:active{
	box-shadow:none;
	top:2px;
	outline:none;
	text-shadow:0px 0px #000;
}
/* ------------------ */